@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
  color: aliceblue;
}

body{
  background-color: #001629;
  margin: 5% 15%;
}

.App{
  text-align: left;
}

.App>div{
  display: flex;
}

h1, h2{
  color: #64c3a3;
}

p{
  color: plum;
}

.column{
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  align-items: center;
}

.half{
  width: 50vw;
  min-width: 300px
}

form{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
}

select, input, button{
  border-radius: 15px;
  padding:.5rem;
}

select, input{
  flex-shrink: 0;
  border: none;
  margin-right: 5rem;
}

input{
  background-color: #64c3a3;
  color: #001629;
}

select{
  background-color: plum;
  flex-grow: 1;
}

select,
option{
  color: #001629;
}

button{
  background-color: #001629;
  border: 2px solid plum;
  color: plum;
  cursor: pointer;
  font-weight: bold;
}

li{
  list-style: none;
  line-height: 1.5;
  margin-top: .5rem;
  display: flex;
}

.display{
  margin-top: 1rem;
}

li>span:first-of-type{
  font-weight: bold;
  margin-right: .25rem;
  color: plum;
}
