@font-face {
    font-family: 'LiquidCrystal-Bold';
    src: url('/assets/LiquidCrystal-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Pac-font';
    src: url('/assets/PAC-FONT.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    padding: 25px;
}

.row{
    display: flex;
}

.col{
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 0;
    width: 100%;
    flex-grow: 1;
}

h1,
#lives,
.lives .twopac {
    font-family: Pac-font, sans-serif;
}

h1 {
    color: yellow;
    flex-grow: 1;
    text-align: center;
}

.description {
    font-family: LiquidCrystal-Bold, sans-serif;
    font-size: 2em;
    color: yellow;
}

.wrap {
    flex-grow: 1;
    width: 100%;
}

.wrap.row{
    justify-content: center;
}

#control-panel{
    flex-grow: 0;
    flex-shrink: 0;
    width: 25%;
    height: 100%;
}

#control-panel .row{
    flex-wrap: wrap;
    justify-content: center;
}

#control-panel .row+.row{
    margin-top: 25px;
}

#control-panel .description{
    margin-bottom: 25px;
}

#control-panel .description{
    flex-grow: 1;
    width: 100%;
    text-align: center;
}

.button-wrap {
    position: relative;
    margin-bottom: 25px;
}

.button-wrap:nth-child(odd){
    margin-left: 25px;
}

.button-wrap div {
    font-family: monospace;
    color: #fff;
    position: absolute;
    top: calc(105px*.5);
    left: calc(89px*.5);
    z-index: 2;
    pointer-events: none;
}

.button-wrap div img{
    width: 30px;
}

.start>.button-wrap:nth-of-type(2) div{
    margin-left: -8px;
}

.start>.button-wrap:nth-of-type(3) div{
    margin-left: -4px;
}

.start>.button-wrap:last-of-type div{
    margin-left: 0px;
    margin-top: -9px;
}

.screen {
    border: 3px solid #fff;
    flex-grow: 1;
    margin: 0 25px;
    position: relative;
}

.screen>div{
    position: absolute;
    top: 0;
    left: 0;
}

#gameboard.game-over{
    position: relative;
}

#gameboard.game-over .announcement{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 9;
}

.announcement h2{
    color: #fff;
    font-family: LiquidCrystal-Bold, sans-serif;
    font-size: 3.5em;
    text-align: center;
    animation-name:  fade-in;
    animation-duration: 2000ms;
    animation-iteration-count: once;
    animation-timing-function: ease-in-out; 
}

@-webkit-keyframes fade-in {
    0% {
        transform: scale(300%);
        opacity: 0;
    }
    100% {
        transform: scale(100%);
        opacity: 1;
    }
}


.screen>div>.row {
    width: 100%;
    height: 20px;
}

.screen>div>.row div {
    width: 20px;
    height: 20px;
    display: inline-block;
}

div.brick {
    background-color: blue;
}

div.brick.bump{
    background-color: #070561;
    animation-name: flash;
    animation-duration: 100ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 
}

div.brick.bump.up{
    transform: translate(0, -5px);
}

div.brick.bump.down{
    transform: translate(0, 5px);
}
div.brick.bump.left{
    transform: translate(-5px, 0);
}
div.brick.bump.right{
    transform: translate(5px, 0);
}

div.brick.explode {
    animation: shoot 100ms ease-out infinite;
    animation-name: shoot, fade;
}

@keyframes shoot {
    0% {
      transform: scale (.5) translate(-312% -345%);
    }
    100% {
        transform: scale (.25) translate(-612% -645%);
    }
  }
  @keyframes fade {
    from {
        opacity: 1;
      }
    to {
      opacity: 0;
    }
  }


#gameboard.game-over div.brick,
#gameboard.pacman-dead div.brick{
    animation-name: flash;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@-webkit-keyframes flash {
    0% {
        background-color: blue;
        opacity:1;
    }
    50% {
        background-color: rgb(204, 0, 255);
    }
    100% {
        background-color: rgb(255, 0, 0);
    }
}


div.coin {
    position: relative;
}

div.coin::after {
    font-family: 'Pac-font';
    font-size: 2em;
    content: '2';
    color: yellow;
    position: absolute;
    top: -6px;
    left: 7px;

}

div.mushroom {
    background-image: url(/assets/mushroom.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
}

#pacman {
    background-image: url(/assets/pacman.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 19px 19px;
}

#twopac {
    background-image: url(/assets/twopac.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
}

#pacman[data-pacman="left"]{
    transform: scaleX(-1);
}

#pacman.bump[data-pacman="left"]{
    transform: scaleX(-1) translate(-5px, 0);
}

#pacman.super[data-pacman="left"]{
    transform: scaleX(-1) scale(2);
}

#twopac.bump[data-pacman="left"]{
    transform: translate(-5px, 0);
}

#twopac[data-pacman="right"]{
    transform: scaleX(-1);
}

#pacman.super[data-pacman="right"]{
    transform: scale(2);
}

#twopac.bump[data-pacman="right"]{
    transform: scaleX(-1) translate(5px, 0);
}

#pacman.bump[data-pacman="right"]{
    transform: translate(5px, 0);
}

#pacman.bump.super[data-pacman="right"]{
    transform: scale(2) translate(5px, 0);
}

#pacman[data-pacman="up"],
#twopac[data-pacman="down"]{
    transform: rotate(-90deg);
}

#pacman.bump[data-pacman="down"]{
    transform: rotate(90deg) translate(5px, 0);;
}

#pacman.super[data-pacman="down"]{
    transform: rotate(90deg) scale(2);
}

#twopac.bump[data-pacman="down"]{
    transform: rotate(-90deg) translate(5px, 0);;
}

#pacman[data-pacman="down"],
#twopac[data-pacman="up"]{
    transform: rotate(90deg);
}

#pacman.bump[data-pacman="up"]{
    transform: rotate(-90deg) translate(-5px, 0);
}

#pacman.super[data-pacman="up"]{
    transform: rotate(-90deg) scale(2);
}

#twopac.bump[data-pacman="up"]{
    transform: rotate(90deg) translate(-5px, 0);
}

#pacman.dead,
#twopac.dead {
    animation-name: spin;
    animation-duration: 1500ms;
    animation-iteration-count: once;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg)scale(1.1);
    }
    to {
        transform:rotate(-720deg)scale(0);
    }
}
#pacman.super{
    transform: scale(2);
}
#pacman.super.start{
    animation: super 500ms, super-flash 500ms;
    animation-timing-function: linear; 
}

@keyframes super {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(.75);
    }
    20% {
        transform: scale(1.25);
    }
    30% {
        transform: scale(1);
        filter: hue-rotate(300deg);
    }
    40% {
        transform: scale(1.5);
    }
    50% {
        transform: scale(1.25);
    }
    60% {
        transform: scale(1.75);
    }
    70% {
        transform: scale(1.5);
    }
    80% {
        transform: scale(1.85);
    }
    90% {
        transform: scale(1.75);
    }
    100% {
        transform: scale(2);
    }
}

@keyframes super-flash {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

#pacman.super.end{
    animation: unsuper 500ms, super-flash 500ms;
    animation-timing-function: linear;
}

@keyframes unsuper {
    0% {
        transform: scale(2);
    }
    10% {
        transform: scale(1.75);
    }
    20% {
        transform: scale(1.85);
    }
    30% {
        transform: scale(1.5);
    }
    40% {
        transform: scale(1.65);
    }
    50% {
        transform: scale(1.25);
    }
    60% {
        transform: scale(1.5);
    }
    70% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.25);
    }
    90% {
        transform: scale(.75);
    }
    100% {
        transform: scale(1);
    }
}

.ghost {
    background-image: url(/assets/ghost-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
}

.ghost[data-ghost="2"]{
    filter: hue-rotate(160deg);
}

.ghost[data-ghost="3"]{
    filter: hue-rotate(290deg);
}

.ghost[data-ghost="4"]{
    filter: hue-rotate(245deg);
}

.cherries{
    background-image: url(/assets/cherry.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
}

#console {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: flex-start;
    justify-content: space-between;
}

#console>div {
    display: flex;
    flex-grow: 0;
}
#console .lives{
    justify-self: flex-start;
    flex-wrap: wrap;
}

#console .description{
    margin-right: 15px;
}

#lives,
.lives .twopac{
    
    font-size: 2em;
}

#lives{
    background-color: yellow;
    color: #000;
}

.lives .twopac{
    background-color: pink;
    color: #000;
    transform: scaleX(-1);
}

.player-2{
    flex-grow: 1;
    width: 100%;
}

#score span {
    font-family: LiquidCrystal-Bold, sans-serif;
    font-size: 2em;
    text-align: center;
}

#score span:not(.description) {
    color: #fff;
}

#high-scores ul{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

#high-scores li{
    font-family: LiquidCrystal-Bold, sans-serif;
    font-size: 2em;
    color: #fff;
    list-style: none;
}

/* CSS Arcade Button Style by Thierry Michel  
* https://codepen.io/thierrymichel/pen/Pwzbmd
*/
.push-button {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
    border: 0;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    transition: box-shadow 200ms;
}

.push-button:after {
    content: "";
    position: absolute;
    bottom: 12px;
    left: 24px;
    display: block;
    width: 92px;
    height: 92px;
    border: 16px solid rgba(0, 0, 0, 0.3);
    border-width: 0 0 16px;
    border-radius: 50%;
    transition-duration: 200ms;
}

.push-button:active:after,
.push-button.is-pushed:after {
    bottom: 28px;
    border-width: 0;
}

.push-button.red {
    background-color: #c2290a;
    box-shadow: inset 0 7.5px 0 #da2e0b, inset 0 -7.5px 0 #aa2409, inset 0 0 0 7.5px #b32609, inset 0 0 0 20px #c2290a, inset 0 0 0 24px #611405, inset 0 0 0 26.0869565217px black, inset 0 0 0 32px rgba(247, 133, 110, 0.7), inset 0 0 0 43.6363636364px #c2290a, inset 0 96px 32px #aa2409, inset 0 0 24px 40px #911f08, 0 12px 0 rgba(0, 0, 0, 0.3);
}

.push-button.red:active,
.push-button.red.is-pushed {
    background-color: #c2290a;
    box-shadow: inset 0 7.5px 0 #da2e0b, inset 0 -7.5px 0 #aa2409, inset 0 0 0 7.5px #b32609, inset 0 0 0 20px #c2290a, inset 0 0 0 24px #611405, inset 0 0 0 26.0869565217px black, inset 0 0 0 32px rgba(247, 133, 110, 0.7), inset 0 0 0 43.6363636364px #c2290a, inset 0 96px 32px #aa2409, inset 0 0 24px 40px #911f08, 0 12px 0 rgba(0, 0, 0, 0.3);
}

.push-button.yellow {
    background-color: #c2a60a;
    box-shadow: inset 0 7.5px 0 #d7da0b, inset 0 -7.5px 0 #aa9d09, inset 0 0 0 7.5px #b39409, inset 0 0 0 20px #c2b90a, inset 0 0 0 24px #615c05, inset 0 0 0 26.0869565217px black, inset 0 0 0 32px rgba(247, 222, 110, 0.7), inset 0 0 0 43.6363636364px #c2a00a, inset 0 96px 32px #aa8709, inset 0 0 24px 40px #918a08, 0 12px 0 rgba(0, 0, 0, 0.3);
}

.push-button.yellow:active,
.push-button.yellow.is-pushed {
    background-color: #c2a60a;
    box-shadow: inset 0 7.5px 0 #d7da0b, inset 0 -7.5px 0 #aa9d09, inset 0 0 0 7.5px #b39409, inset 0 0 0 20px #c2b90a, inset 0 0 0 24px #615c05, inset 0 0 0 26.0869565217px black, inset 0 0 0 32px rgba(247, 222, 110, 0.7), inset 0 0 0 43.6363636364px #c2a00a, inset 0 96px 32px #aa8709, inset 0 0 24px 40px #918a08, 0 12px 0 rgba(0, 0, 0, 0.3);
}
.push-button.green {
    background-color: #4ac20a;
    box-shadow: inset 0 7.5px 0 #1cda0b, inset 0 -7.5px 0 #4faa09, inset 0 0 0 7.5px #1db309, inset 0 0 0 20px #19c20a, inset 0 0 0 24px #176105, inset 0 0 0 26.0869565217px black, inset 0 0 0 32px rgba(137, 247, 110, 0.7), inset 0 0 0 43.6363636364px #13c20a, inset 0 96px 32px #21aa09, inset 0 0 24px 40px #0f9108, 0 12px 0 rgba(0, 0, 0, 0.3);
}

.push-button.green:active,
.push-button.green.is-pushed {
    background-color: #4ac20a;
    box-shadow: inset 0 7.5px 0 #1cda0b, inset 0 -7.5px 0 #4faa09, inset 0 0 0 7.5px #1db309, inset 0 0 0 20px #19c20a, inset 0 0 0 24px #176105, inset 0 0 0 26.0869565217px black, inset 0 0 0 32px rgba(137, 247, 110, 0.7), inset 0 0 0 43.6363636364px #13c20a, inset 0 96px 32px #21aa09, inset 0 0 24px 40px #0f9108, 0 12px 0 rgba(0, 0, 0, 0.3);
}

.push-button.white {
    background-color: #b0b0ae;
    box-shadow: inset 0 7.5px 0 #d6d6d2, inset 0 -7.5px 0 #adadab, inset 0 0 0 7.5px #bab8b1, inset 0 0 0 20px #c7c6be, inset 0 0 0 24px #62625f, inset 0 0 0 26.0869565217px black, inset 0 0 0 32px rgba(251, 240, 195, 0.7), inset 0 0 0 43.6363636364px #c3c2bb, inset 0 96px 32px #aaa8a1, inset 0 0 24px 40px #92918a, 0 12px 0 rgba(0, 0, 0, 0.3);
}

.push-button.white:active,
.push-button.white.is-pushed {
    background-color: #b0b0ae;
    box-shadow: inset 0 7.5px 0 #d6d6d2, inset 0 -7.5px 0 #adadab, inset 0 0 0 7.5px #bab8b1, inset 0 0 0 20px #c7c6be, inset 0 0 0 24px #62625f, inset 0 0 0 26.0869565217px black, inset 0 0 0 32px rgba(247, 222, 110, 0.7), inset 0 0 0 43.6363636364px #c3c2bb, inset 0 96px 32px #aaa8a1, inset 0 0 24px 40px #92918a, 0 12px 0 rgba(0, 0, 0, 0.3);
}

.push-button.white{
    position: relative;
}

.push-button.white::before{
    font-family: 'Pac-font';
    font-size: 2.25em;
    color: black;
    position: absolute;
    top: 37%;
}
.single .push-button.white::before{
    content: 'c';
    left: 37.5%;
}

.double .push-button.white::before{
    content: 'cc';
    left: 26%;
}

.push-button.blue {
    background-color: #100ac2;
    box-shadow: inset 0 7.5px 0 #0b0bda, inset 0 -7.5px 0 #0e09aa, inset 0 0 0 7.5px #093cb3, inset 0 0 0 20px #130ac2, inset 0 0 0 24px #070561, inset 0 0 0 26.0869565217px black, inset 0 0 0 32px rgba(110, 112, 247, 0.7), inset 0 0 0 43.6363636364px #0a10c2, inset 0 96px 32px #0909aa, inset 0 0 24px 40px #081391, 0 12px 0 rgba(0, 0, 0, 0.3);
}

.push-button.blue:active,
.push-button.blue.is-pushed {
    background-color: #100ac2;
    box-shadow: inset 0 7.5px 0 #0b0bda, inset 0 -7.5px 0 #0e09aa, inset 0 0 0 7.5px #130ac2, inset 0 0 0 20px #130ac2, inset 0 0 0 24px #070561, inset 0 0 0 26.0869565217px black, inset 0 0 0 32px rgba(137, 247, 110, 0.7), inset 0 0 0 43.6363636364px #0a10c2, inset 0 96px 32px #0909aa, inset 0 0 24px 40px #081391, 0 12px 0 rgba(0, 0, 0, 0.3);
}
