* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Itim, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 10%;
}

h1{
    font-size: 2.5em;
}

h2{
    font-size: 2em;
}

p, a, input, span, em, strong, button{
    font-family: Roboto, sans-serif;
}

.hidden{
    display: none;
}

nav{
    background-color: #333;
    border-top: 8px solid #9900ff;
    padding: 15px 25px;
}

.row{
    display: flex;
}

nav .row{
    justify-content: space-between;
}

nav h1{
    color: #fff;
}

nav input, .btn{
    border: 2px solid #000;
}

nav input{
    flex-grow: 1;
    max-width: 400px;
    padding: 0 5px;
    font-size: 1.25em;
}

.btn{
    padding: 5px 25px;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
    font-size: 1.2em;
    cursor: pointer;
}

.btn-login,
.btn-subscribe{
    background-color: #9900ff;
    color: #fff;
    padding: 0 15px;
}

.btn-login{   
    min-width: 100px;
}

.btn-like{
    margin-top: 25px;
    background-color: #ffd966;
}

.btn-like span{
    pointer-events: none;
}

.btn-definition{
    margin-top: 25px;
    background-color: #93c47d;
}

main{
    margin-top: 25px;
}

main .row>.col:first-of-type{
    flex-basis: 70%;
    margin-right: 25px;
}

main .row>.col:last-of-type{
    flex-grow: 1;
}

.cell{
    display: flex;
    flex-direction: column;
}

.cell.video{
    margin-right: 50px;
    width: 100%;
    overflow: hidden;
}

.video-wrap{
    border: 2px solid #333;
    z-index: 0;
}

.video-player{
    background-color: #000;
    height: 400px;
    overflow: hidden;
    z-index: -1;
}

video{
    width: 100%;
    max-height: 400px;
    margin: 0 auto;
    transform: rotate(90deg) scale(2.7);
}

.video-wrap+.row{
    margin-top: 15px;
}

#video-controls{
    z-index: 1;
}

#video-controls>.row{
    justify-content: space-between;
    padding: 2px 5px;
}

#video-controls button{
    background-color: #fff;
    border: none;
}

#video-controls .progress{
    flex-grow: 1;
}

#video-controls>.row>*,
#video-controls object{
    cursor: pointer;
}

.progress{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5px;
    position: relative;
    z-index: 1;
}

.progress #timer{
    color: #000;
    position: absolute;
    z-index: 1;
    bottom: -4px
}

.progress progress{
    width: 100%;
    z-index: -1;
}

progress[value] {
    appearance: none;
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0,.25) inset;
    display: inline;
    height: 15px;
    order: 1;
    position: relative;
    width: 100%;
}

progress::-webkit-progress-value { background: #9900ff; }


progress[value] span{
    background-color: #9900ff;
}

#playpause i{
    font-size: 3em;
}

#mute{
    margin: 0 5px;
}

#mute img{
    margin-top: 2px;
}

#muted{
    font-size: 1.75em;
}

#fullscreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25px;
    margin: 0 5px;
}

#fullscreen i{
    font-size: 25px;
}

.card p{
    font-size: 1.2em;
}

.card h2,
.card p{
    line-height: 1.5;
}

.video-details .cell{
    flex-grow: 1;
}

.video-details .btn{
    align-self: center;
}

.profile{
    align-items: center;
}

.pic-wrapper, .pic-wrapper img{
    border-radius: 50%;
}

.pic-wrapper{
    background-color: #000;
}

.pic-wrapper img{
    border: 2px solid #333;
    width: 50px;
}

.profile{
    margin-top: 10px;
}

.profile p{
    margin-left: 10px;
}

.profile a{
    color:#9900ff;
    text-decoration: none;
    font-size: 1.2em;
}

.col-header{
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
}

.col-header p{
    font-weight: bold;
}

.video-col{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.video-col .row{
    align-items: center;
}

.video-col .row:not(:first-of-type){
    margin-top: 25px;
}

.box{
    border: 3px solid #9900ff;
    padding: 15px 45px;
}

.box i{
    color:#9900ff;
    font-size: 3.5em;
}

.video-col p{
    margin-left: 15px;
    font-weight: bold;
}