*{
    font-family: sans-serif;
}

.row{
    display: flex;
}

.row>*{
    color: #fff;
    background-color: #659da1;
    padding: 25px;
}

.row:nth-child(2){
    margin: 25px 0;
}

.row div+div{
    margin-left: 25px;
}

.row>div{
    flex-grow: 0;
    flex-shrink: 1;
}

.col{
    flex-basis: 25%;
}

.row:nth-child(2) .col{
    flex-basis: 33%;
}
.row:nth-child(2) .col-2{
    flex-basis: 66%;
}

.row:last-of-type .col-2{
    flex-basis: 40%;
}

.row:last-of-type .col-3{
    flex-basis: 60%;
}